body{
    background-color:black;
    color:white;
}

header {
    border-bottom: solid 2px rgb(139, 204, 98);
    padding: 20px;
    font-size: 32px;
    color: rgb(139, 204, 98);
}

section{
    display: flex;
    background-color: green;
    padding:3%;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
    font-family: "Cookie", cursive;
}